*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    background-size: cover; 
}
.border{
  border: 2px solid transparent;
}
.border:hover {
    border:2px solid white;
 }
/** box2 **/
.add-first{
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;

}
.add-second{
  color: white;
  margin-left: 3px;

}
.add-icon{
  display: flex;
  align-items: centre;
}
/** box3**/
.nav-search{
  display: flex;
}
 
footer {
    background-color: #232f3e;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
